reseed-monitoring
reseed-monitor/reseed-monitor \
i2pseed.creativecowpat.net:8443/ 
reseed.i2p2.no/ 
reseed.i2pgit.org/ 
reseed.memcpy.io/
reseed.onion.im/ 
reseed.i2p-projekt.de/ 
i2p.novg.net/ 
i2p.mooo.com/ 
data-dir*/
reseed/
